<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ezen.imeco.mapper.CartMapper">
	<select id="cartList" resultType="cartDTO">
		SELECT c.cart_num, c.id, c.pnum, c.pqty, p.pimage, p.pname, p.price, p.point, p.pspec, m.id
		FROM im_eco_cart c, im_eco_product p, im_eco_Member m
		WHERE p.pnum = c.pnum
		AND m.id = c.id
		AND c.id = #{c.id}
	</select>
	
	<insert id="cartAdd" parameterType="cartDTO">
		INSERT INTO im_eco_cart(id, pnum, pqty, indate)
		VALUES(#{id}, #{pnum}, #{pqty}, now())
	</insert>
	
	<update id="cartUpdate">
		UPDATE im_eco_cart(pqty)
		SET pqty=#{pqty}
	</update>
	

  
</mapper>